<%= @supplier.company_name %><br/>
<%= @supplier.name %><br/>
<%= @supplier.email %><br/>
<%= @supplier.phone_number %><br/>
<br/>
<br/>

<h2>Cheeses</h2>  
<% @supplier.cheeses.each do|cheese| %>
  <%= cheese.name %>
  <%= link_to "Show", cheese %><br/>
<% end %>