<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <%= render 'layouts/meta' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'admin/top_bar' %>
      <% if request.path_info.include?('admin') %>
          <%= render 'admin/dashboard' %>
      <% end %>
    <% end %>
    <%= render 'layouts/alert' %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
